#user-panel{
	position: absolute;
	bottom: 100%;
	left: 0;
	transition: 1.2s;
	background: rgba(0, 0, 0, 0.45);
	padding: 15px;
	width: calc(100vw - 30px);
	height: calc(100vh - 30px);
	
	&.logged-in{
		bottom: 0;
	}
	
	.user-panel-content{
		height: calc(100vh - 30px);
		background: rgba(255,255,255,.95);
	}
	
}